body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(225, 225, 225);
    color: #333;
}

section {
    margin: 60px auto; 
    padding: 50px 20px; 
    max-width: 1200px; 
    background-color: rgb(225, 225, 225); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-bottom: 2px solid rgb(153, 153, 153);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    top: 0;
}

.logo-container{
    position: fixed;
    top: 7px;
    left: 20px;
    z-index: 2;
}

.logo {
    width: 90px;
    height: auto;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 2rem;
    margin-left: 60px;
    text-decoration: none;
    color: #2f2f2f;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ff4500;
}

#menu-icon {
    display: none;
}

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-content {
    max-width: 600px;
}

.about-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.about-description {
    font-size: 18px;
    line-height: 1.8;
    color: #555; 
}

.about-image img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.values-section {
    text-align: center;
}

.values-title {
    font-size: 32px;
    margin-bottom: 40px;
}

.values-content {
    display: flex;
    justify-content: space-around;
}

.value-box {
    width: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.value-box:hover {
    transform: scale(1.05);
}

.value-box i {
    font-size: 40px;
    margin-bottom: 20px;
}

.value-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.value-box p {
    font-size: 16px;
    line-height: 1.6;
}

.history-section {
    text-align: center;
}

.history-title {
    font-size: 32px;
    margin-bottom: 30px;
}

.history-content p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

.descBottom {
    display: flex;
    background-color: #333333;
    height: 40px;
    color: white;
    padding: 0 20px;
}
  
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.flag-container {
    display: flex;
    align-items: center;
}
  
.flag {
    margin-right: 5px;
    width: 20px;
}
  
.countryName {
    margin: 0;
    font-size: 12px;
    color: #edeff38b;
    font-weight: 400;
}
  
@media (max-width: 1200px) {
    section {
        padding: 30px 15px;
    }

    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .about-image img {
        width: 80%;
        max-width: 400px;
    }

    .values-content {
        flex-direction: column;
        align-items: center;
    }

    .value-box {
        margin-bottom: 20px;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .navbar a {
        font-size: 1.5rem;
        margin-left: 40px;
    }

    .about-title {
        font-size: 30px;
    }

    .about-description {
        font-size: 16px;
    }

    .values-title {
        font-size: 28px;
    }

    .value-box {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 30px;
        right: 0;
        background-color: rgb(161, 160, 160);
        width: 25%;     
    }

    #menu-icon {
        display: block;
        cursor: pointer;
        position: fixed;
        font-size: 1.1rem;
        margin-top: 10px;
        left: 80%;
        border-bottom: 1px black;
        top: 0;
    }
    
    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 1rem;
        margin: 1rem 0;
        padding-left: 10px;
        border-bottom: 1px solid #000000;
    }

    .logo {
        display: flex;
        width: 70px;
        height: auto;
        left: 10px;
    }

    .about-section {
        padding: 20px;
        text-align: center;
    }

    .about-image img {
        width: 100%;
        max-width: 300px;
    }

    .value-box {
        width: 100%;
        margin-bottom: 20px;
    }
}