* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

/* untuk Navbar */
.headerSection {
  background-color: rgb(225, 225, 225);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  height: 40px;
  border-bottom: 2px solid rgb(153, 153, 153);
}

.logo-container {
  top: -8px;
  left: 20px;
  z-index: 2;
}

.logo-container img {
  width: 90px;
  height: auto;
  margin-top: -13px;
}

.navbar {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 40px;
  right: 0;
  background-color: rgb(161, 160, 160);
  width: 35%;
}

#menu-icon {
  display: flex;
  justify-content: end;
  cursor: pointer;
  font-size: 1.1rem;
}

.navbar.active {
  display: block;
}

.navbar a {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0;
  /* padding-left: 10px; */
  border-bottom: 1px solid #000000;
  color: black;
}

.close-menu {
  position: absolute;
  top: 15px;
  right: 20px;
}

.adidasLogo {
  position: absolute;
  left: 20px;
  width: 90px;
  height: 60px;
}

.homeLogo {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
}

.backArrow img {
  width: 25%;
}

h1#women {
  margin: 0;
  text-align: left;
  margin-top: 5%;
  font-size: x-large;
  margin-bottom: 1%;
  display: block;
}

.container {
  height: 1px;
  width: 100%;
  border: 2px solid #000000;
  position: relative;
}

h1#originals,
h1#sports,
h1#running {
  margin: 0;
  text-align: left;
  margin-top: 3%;
  font-size: x-large;
  margin-bottom: 1%;
  display: block;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navLinks li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #ff4500;
}

body {
  margin-top: 60px;
}

.searchCart {
  position: absolute;
  right: 20px;
  top: 5px;
  display: flex;
  align-items: center;
}

#searchInput {
  padding: 7px 20px;
  border-radius: 30px;
  border: none;
  background: #fff;
  width: 150px;
  outline: none;
  transition: all 0.3s ease;
}

.searchIcon {
  position: relative;
  right: 30px;
  border: none;
  background: none;
  cursor: pointer;
  color: gray;
  font-size: 16px;
}

.products {
  padding: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.productContainer {
  margin-top: 2%;
  display: flex;
  transition: transform 0.5s ease;
}

.productItem {
  flex: 0 0 auto;
  width: 100%;
  background-color: #e5e5e5;
  padding: 24px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin-right: 0px;
}

.arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #333;
  cursor: pointer;
  z-index: 9;
}

.arrowLeft {
  left: 1px;
}

.arrowRight {
  right: 1px;
}

.productItem img {
  width: 100%;
  background-color: #e6e3db;
  margin-bottom: 10px;
}

.productTitle {
  font-weight: 600;
  margin-bottom: 5px;
  text-align: start;
  font-size: 16px;
}

.productSubtitle {
  font-weight: lighter;
  margin-bottom: 5px;
  text-align: start;
  font-size: 12px;
  color: #a3a3a3;
}

.productPrice {
  color: #333333;
  text-align: start;
  font-size: 13px;
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-bottom: 3rem;
  margin-left: -10px;
  font-size: 14px;
}

.backArrow {
  width: 30px;
  margin-right: 10px;
}

.breadcrumbLink {
  text-decoration: underline;
  color: black;
  font-weight: bold;
  margin-right: 5px;
}

.breadcrumbCurrent {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.container {
  width: 100%;
  border: 2px solid #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContent {
  background-color: #c4c4c4;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 0;
}

.aboutInfo {
  flex-basis: 48%;
  padding: 0 0;
}

.titleContent {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 24px;
  color: #333333;
}

.informationContent {
  font-weight: lighter;
  margin-bottom: 5px;
  font-size: 12px;
  color: #33333381;
}

.aboutInfo p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}

.descBottom {
  display: flex;
  background-color: #333333;
  width: 100%;
  height: 40px;
  color: white;
  padding: 0 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flag-container {
  display: flex;
  align-items: center;
}

.flag {
  margin-right: 5px;
  width: 20px;
}

.countryName {
  margin: 0;
  font-size: 12px;
  color: #edeff38b;
  font-weight: 400;
}

/* Untuk untuk handphone */
@media (min-width: 576px) {
  /* Merubah ukuran css class tersebut, sesuai dengan ukuran layar  */
  .productItem {
    width: 50%;
  }

  .navbar {
    width: 35%;
  }
}

/* Ukuran untuk tablet */
@media (min-width: 768px) {
  /* Merubah ukuran css class tersebut, sesuai dengan ukuran layar  */
  .productItem {
    width: 50%;
  }

  .aboutContent {
    flex-direction: row;
  }

  .navbar {
    width: 30%;
  }

  .products {
    width: 80%;
  }

  #searchInput {
    width: 250px;
  }
}

/* Ukuran untuk laptop / desktop */
@media (min-width: 992px) {
  /* Merubah ukuran css class tersebut, sesuai dengan ukuran layar  */
  .productItem {
    width: 25%;
  }

  .navbar {
    width: 10%;
  }
}
